<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/login.html">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <title>Login</title>
    <!-- Incluye el archivo JavaScript externo aquí -->
    <script src="{{ url_for('static', filename='scripts/login.js') }}" defer></script>
</head>
<body>
    <button id="theme-toggle">🌙</button> <!-- Botón en la esquina superior derecha -->
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST" onsubmit="login(event)">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required autocomplete="username">
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required autocomplete="current-password">
            <br>
            <button type="submit">Login</button>
            <button type="button" onclick="register()">Registrarse</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='scripts/theme.js') }}" defer></script>
</body>
</html>
