<!-- templates/protected.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}F1 Predicciones{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_race.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_ranking.css') }}">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/socket.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/theme.js') }}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>

<!-- Botón de cambio de tema 🌙/🌞 -->
<button id="theme-toggle">🌙</button>

<header>
    <h1>F1 Predicciones</h1>
    <nav>
        <a href="/protected" >Home</a>
        <a href="#" onclick="mostrarSeccion('apuestas')">Apuestas</a>
        <a href="{{ url_for('ranking.ranking') }}">Ranking</a>
        <a href="{{ url_for('schedule.calendario') }}">Calendario</a>
    </nav>
</header>

<div class="content">
    {% block content %}{% endblock %}
</div>

<footer>
    <p>&copy; 2024 F1 Predicciones</p>
</footer>

</body>
</html>

