{% extends "protected.html" %}

{% block title %}Ranking de Jugadores{% endblock %}

{% block content %}
<div class="ranking-container">
    <h1>Ranking de Jugadores</h1>

    <!-- Enlaces directos a cada temporada -->
    <div class="season-links">
        {% for season_year in seasons %}
            <a href="{{ url_for('ranking.ranking', season_year=season_year) }}" class="season-link">
                {{ season_year }}
            </a>
        {% endfor %}
    </div>

    <!-- Sección de la gráfica -->
    <div class="chart-container">
        <canvas id="rankingChart"></canvas>
    </div>

    <!-- Sección de la tabla de posiciones -->
    {% include "ranking_table.html" %}
</div>

<script>
    let datosPuntos = JSON.parse('{{ datos_puntos | tojson | safe }}');
    let ranking = JSON.parse('{{ ranking | tojson | safe }}');
    let carreras = JSON.parse('{{ carreras | tojson | safe }}');
</script>
<script src="{{ url_for('static', filename='scripts/ranking.js') }}" defer></script>
{% endblock %}

