{% extends "protected.html" %}

{% block title %}Calendario de Carreras{% endblock %}

{% block content %}
<div id="home" class="calendar-container">
    <h2>Calendario de Carreras</h2>
    <div class="container">
        {% for race in races %}
        <a href="{{ url_for('race.race_detail', race_name=race.race_name|replace(' ', '-'), race_year=race.year) }}">
            <div class="race-card">
                <div class="race-header">
                    <span class="round">ROUND {{ race.round }}</span>
                    <div class="date">
                        <span>{{ race.formatted_date }}</span> <!-- Muestra la fecha completa -->
                    </div>
                    <img src="{{ race.flag_url }}" alt="Bandera de {{ race.country }}" class="flag">
                </div>
                <div class="race-body">
                    <h2>{{ race.country }}</h2>
                    <p>{{ race.race_name }}</p>
                    <img src="{{ race.circuit_image_url }}" alt="Circuito de {{ race.country }}" class="circuit" loading="lazy">
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}